.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  &.with-background {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
  }

  .loader-spinner {
    width: var(--loader-size);
    height: var(--loader-size);
    animation: rotate 1s linear infinite;
    
    .loader-icon {
      width: 100%;
      height: 100%;
      color: var(--primary-color); // Usa tu variable de color principal
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}